* {
    font-family: verdan, Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: blueviolet;
    width: 70%;

}

.tex_section {
    float: left;
    margin-left: 15px;
}

.main-image {
    width: 40%;
    float: right;
    margin-right: 5px;
    height: 100%;
}